<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>

        var channel = "/chat"

        var socket = io.connect('http://' + document.domain + ':' + location.port + channel);

        // var lineReader = require('readline').createInterface({
        //   input: require('fs').createReadStream('messages.txt')
        // });

        socket.on('connect', function() {
            socket.emit('my_connection', {data: 'I\'m connected!'});

            // lineReader.on('line', function (line) {
            //     console.log(line);
            //     addInitialMessages(line);
            // });
        });

        socket.on("message", function (message) {
            console.log(message);
            refreshMessages(message);
        });

        socket.on('load_msgs', function (message) {
             console.log(message)
             $(".media-list").append(message['msg']['data']);
        });


        function refreshMessages(message) {
            $(".media-list").append(
                '[' + message.data.author + '] '+ message.data.message
                + '<br>');
        }

        $(function(){
            if (typeof $.cookie("bender-nickname") === 'undefined') {
                window.location = "/login"
            } else {
                $("#sendMessage").on("click", function() {
                    sendMessage()
                });

                $('#messageText').keyup(function(e){
                    if(e.keyCode == 13)
                    {
                        sendMessage();
                    var chatbox = document.getElementById("chatbox");
                    // allow 1px inaccuracy by adding 1
                    var isScrolledToBottom = chatbox.scrollHeight - chatbox.clientHeight <= chatbox.scrollTop + 1;
                    if(isScrolledToBottom)
                    chatbox.scrollTop = chatbox.scrollHeight - chatbox.clientHeight;
                    }
                });
            }

            function sendMessage() {
                    $container = $('.media-list');
                    $container[0].scrollTop = $container[0].scrollHeight;
                    var message = $("#messageText").val();
                    var author = $.cookie("bender-nickname");
                    socket.emit('message', {data: {message: message, author: author}});
                    $("#messageText").val("");
                    $container.animate({ scrollTop: $container[0].scrollHeight }, "slow");
            }
        })
    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="chatroom.css">
    <style type="text/css">
        .fixed-panel {
            min-height: 500px;
            max-height: 500px;
        }
        .media-list {
            overflow: auto;
        }
        #body {
            width:100%;
            height:100%;
            position:fixed;
            top:0;
            bottom:0;
            left:0;
            right:0;
        }
    </style>
</head>


<body>
    <div id="body">
        <div id="chatbox" class="container">
            <div class="row " style="padding-top:35px;">
                <div class="col-md-12">
                    <div class="panel panel-info">
                            <div id="panel" class="panel-body fixed-panel">
                                    <ul id="chatbox" class="media-list" style="overflow-y:scroll; height:500px;">
                                    </ul>
                            </div>

                        <div class="panel-footer">
                              <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Message" id="messageText">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button" id="sendMessage"> SEND </button>
                                    </span>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



</html>

