<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>

        var channel = "/chat"

        var socket = io.connect('http://' + document.domain + ':' + location.port + channel);

        var lineReader = require('readline').createInterface({
          input: require('fs').createReadStream('messages.txt')
        });

        socket.on('connect', function() {
            socket.emit('my_connection', {data: 'I\'m connected!'});

            // lineReader.on('line', function (line) {
            //     console.log(line);
            //     addInitialMessages(line);
            // });
        });

        socket.on("message", function (message) {
            console.log(message);
            refreshMessages(message);
        });

        function addInitialMessages(message) {
            $(".media-list").append(message);
        }

        function refreshMessages(message) {
            $(".media-list").append(
                '[' + message.data.author + '] '+ message.data.message
                + '<br></br>');
        }

        $(function(){
            if (typeof $.cookie("bender-nickname") === 'undefined') {
                window.location = "/login"
            } else {
                $("#sendMessage").on("click", function() {
                    sendMessage()
                });

                $('#messageText').keyup(function(e){
                    if(e.keyCode == 13)
                    {
                        sendMessage();
                    }
                });
            }

            function sendMessage() {
                    $container = $('.media-list');
                    $container[0].scrollTop = $container[0].scrollHeight;
                    var message = $("#messageText").val();
                    var author = $.cookie("bender-nickname");
                    socket.emit('message', {data: {message: message, author: author}});
                    $("#messageText").val("");
                    $container.animate({ scrollTop: $container[0].scrollHeight }, "slow");
                    // writeToFile(author, message);
            }

            function writeToFile(a, m) {
                var     fso = new ActiveXObject("Scripting.FileSystemObject");
                var     fh  = fso.OpenTextFile("messages.txt");
                fh.WriteLine('[' + a + '] ' + m + "\r\n" + '<br></br>');
                fh.Close();
            }
        })
    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        .fixed-panel {
            min-height: 500px;
            max-height: 500px;
        }
        .media-list {
            overflow: auto;
        }
    </style>
</head>

<div class="panel-body fixed-panel">
    <ul class="media-list">
    </ul>
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Enter Message" id="messageText">
    <span class="input-group-btn">
        <button class="btn btn-info" type="button" id="sendMessage"> SEND </button>
    </span>
</div>
</html>

