<head>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        $(function(){
            if ($.cookie("bender-nickname")) {
                window.location = "/"
            } else {
                $("#frm-login").submit(function(event) {
                    event.preventDefault();
                    if ($("#nickname").val() !== '') {
                        $.cookie("bender-nickname", $("#nickname").val());
                        window.location = "/";
                    }
                })
            }
        })
    </script>
</head>

<html>
<div class="jumbotron">
  <h2> Welcome to Bender </h2>
</div>

<form role="form" id="frm-login">
    <div class="form-group">
        <input class="form-control" placeholder="Enter Nickname" name="nickname" id="nickname" type="text">
    </div>
    <button type="submit" >Enter Chat</button>
</form>


</html>
